<div class="row mt-1 mb-2">
  <div class="col-sm-3" *ngFor="let photo of photos">

    <div class="card mb-4">
      <div class="card-img-wrapper text-right" [ngClass]="!photo.isApproved && 'not-approved-wrapper'">
        <div class="img-text" *ngIf="!photo.isApproved">
          <span class="label label-warning">Pending</span>
        </div>
        <div class="img-text" *ngIf="photo.isMain">
          <span class="label label-success">Main</span>
        </div>
        <img class="card-img-top" src="{{photo.url}}" alt="" [ngClass]="!photo.isApproved && 'not-approved'">
        <ul class="list-inline member-icons animate text-center">
          <li class="list-inline-item" *ngIf="photo.isApproved"><button class="btn btn-success pl-2 pr-2 pt-1 pb-1"
              (click)="setMainPhoto(photo)" [disabled]="photo.isMain">
              <i class="fa fa-user-circle"></i></button></li>
          <li class="list-inline-item" *ngIf="!photo.isApproved"><button class="btn btn-warning pl-2 pr-2 pt-1 pb-1"
              (click)="deletePhoto(photo.id)">
              <i class="fa fa-ban"></i></button></li>
          <li class="list-inline-item" *ngIf="photo.isApproved"><button class="btn btn-danger pl-2 pr-2 pt-1 pb-1"
              (click)="deletePhoto(photo.id)">
              <i class="fa fa-trash"></i></button></li>
        </ul>
      </div>
    </div>

    <!-- <div class="img-wrapper">
      <img src="{{photo.url}}" class="img-thumbnail img-no-padding mb-0" alt="" [ngClass]="!photo.isApproved && 'not-approved'">
      <div class="img-text pending" *ngIf="!photo.isApproved">
        <span class="label label-warning">Pending</span>
      </div>
      <div class="img-text main" *ngIf="photo.isMain">
        <span class="label label-success">Main</span>
      </div>
      <div class="btn-group text-center photo-editor-icons animate mb-4 w-100">
        <button type="button" class="btn btn-sm btn-success" (click)="setMainPhoto(photo)" [disabled]="photo.isMain"
          *ngIf="photo.isApproved">Main</button>
        <button type="button" class="btn btn-sm btn-warning" (click)="deletePhoto(photo.id)" *ngIf="!photo.isApproved">
          <i class="fa fa-ban"></i> Cancel</button>
        <button type="button" class="btn btn-sm btn-danger" (click)="deletePhoto(photo.id)" *ngIf="photo.isApproved">
          <i class="fa fa-trash"></i></button>
      </div>
    </div> -->
  </div>
</div>

<div class="row">

  <div class="col-md-4">

    <h4>Add Photos</h4>

    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
      class="bg-faded p-3 text-center mb-4 mt-4 my-drop-zone">
      <i class="fa fa-upload fa-2x"></i><br>
      Drop Photos Here
    </div>
    <input type="file" ng2FileSelect [uploader]="uploader" multiple /><br />
  </div>

  <div class="col-md-8 mb-1" *ngIf="uploader?.queue?.length">

    <h4>Upload queue</h4>
    <p>Queue length: {{ uploader?.queue?.length }}</p>

    <table class="table">
      <thead>
        <tr>
          <th width="50%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        </tr>
      </tbody>
    </table>

    <div>
      <div>
        Queue progress:
        <div class="progress mb-4 mt-2">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <div class="btn-group w-100">
        <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          <span class="fa fa-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
          <span class="fa fa-ban"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
          <span class="fa fa-trash"></span> Remove
        </button>
      </div>
    </div>

  </div>

</div>
