img.img-thumbnail {
    min-width: 135px;
}

.my-drop-zone {
    border: dotted 5px #DEE2E6;
    border-radius: 5px;
    color: #888;
}

.nv-file-over {
    border: dotted 5px #4AC37F;
}

input[type=file] {
    width: 100px;
    color: transparent;
}

.not-approved {
    opacity: 0.2;
}

.not-approved-wrapper {
    background-color: #fff !important;
}

.img-wrapper {
    position: relative;
}

.img-text {
    position: absolute;
    opacity: 1;
    z-index: 2;
}

.card:hover img {
    transition-duration: 400ms;
    transition-timing-function: ease-out;
    opacity: 0.66;
}

.card img {
    transition-duration: 400ms;
    transition-timing-function: ease-out;
}

.card-img-wrapper {
    border-radius: calc(0.75rem - 1px);
    overflow: hidden;
    position: relative;
    background-color: black;
}

.member-icons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
}

.card:hover .member-icons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.2s ease-in-out;
}