<div class="container mt-2 pb-4">
  <div class="text-center mb-1">
    <h4 class="mt-4">Management Panel</h4>
    <hr>
  </div>
  <div class="card tab-panel mb-4 pt-2">
    <tabset class="member-tabset">
      <tab heading="User Management" *appHasRole="['Admin']">
        <div class="container mt-2">
          <app-user-management [users]="users"></app-user-management>
        </div>
      </tab>
      <tab heading="Photo Management" *appHasRole="['Admin', 'Moderator']">
        <div class="mt-2">
        <app-photo-management [photos]="photos"></app-photo-management>
        </div>
      </tab>
    </tabset>
  </div>
</div>
