td {
    height: 36px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

th {
    height: 36px;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}