@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import 'assets/css/paper-kit.css';
@import 'assets/css/toastr.css';

h3 {
  padding-bottom: 6px;
}

hr {
  padding-bottom: 4px;
}

.ngx-gallery-icon-content {
  color: #F5593D;
}

.ngx-gallery-disabled{
  opacity: 0 !important;
}

.row-content {
  min-height: 480px;
}

.background-img { 
  background: url('assets/home-bg-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.tab-panel {
  padding: 25px;
  border-radius: 4px;
}

.nav-tabs>li.open,
.member-tabset>.nav-tabs>li:hover {
  border-bottom: 4px solid #F5593D;
}

.member-tabset>.nav-tabs>li.open>a,
.member-tabset>.nav-tabs>li:hover>a {
  border: 0;
  background: none !important;
  color: #333333;
}

.member-tabset>.nav-tabs>li.open>a>i,
.member-tabset>.nav-tabs>li:hover>a>i {
  color: #a6a6a6;
}

.member-tabset>.nav-tabs>li.open .dropdown-menu,
.member-tabset>.nav-tabs>li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset>.nav-tabs>li.active {
  border-bottom: 4px solid #F5593D;
  position: relative;
}

.member-tabset>.nav-tabs>li.active>a {
  margin-bottom: 10px;
  border: 0 !important;
  color: #333333;
}

.member-tabset>.nav-tabs>li.active>a>i {
  color: #404040;
}

.member-tabset>.tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 25px 0 0 0;
}
