<div class="card-body">
  <div *ngIf="messages?.length === 0">
    <p>No messages yet...</p>
  </div>

  <ul class="chat">

    <li *ngFor="let message of messages">
      <!-- to them -->
      <div *ngIf="message.senderId == recipientId">
        <span class="chat-img float-left mt-2 mr-2">
          <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
        </span>
        <div class="chat-body">
          <strong class="primary-font">{{message.senderKnownAs}}</strong>
          <p>{{message.content}}</p>
          <small>
            <span class="text-muted"><i class="fa fa-clock-o text-muted"></i> {{message.messageSent | timeAgo}}</span>
          </small>
        </div>
      </div>

      <!-- to me -->
      <div *ngIf="message.senderId != recipientId">
        <span class="chat-img float-left mt-2 mr-2">
          <img src="{{message.senderPhotoUrl}}" alt="{{message.senderKnownAs}}" class="rounded-circle">
        </span>
        <div class="chat-body">
          <strong class="primary-font">{{message.senderKnownAs}}</strong>
          <p>{{message.content}}</p>
          <small>
            <span class="text-muted"><i class="fa fa-clock-o text-muted"></i> {{message.messageSent | timeAgo}}</span>
            <span *ngIf="message.isRead" class="text-success"> (Read {{message.dateRead | timeAgo}})</span>
            <span *ngIf="!message.isRead" class="text-danger"> (Unread)</span>
          </small>
        </div>
      </div>
    </li>
  </ul>

</div>
<div class="card-footer">
  <form #messageForm="ngForm" (ngSubmit)="messageForm.valid && sendMessage()">
    <div class="input-group">
      <input type="text" required name="content" [(ngModel)]="newMessage.content" class="form-control input-sm"
        placeholder="send a private message">
      <div class="input-group-append">
        <button class="btn btn-danger" [disabled]="!messageForm.valid">Send</button>
      </div>
    </div>
  </form>
</div>
