<div class="row">
  <div *ngIf="!photos?.length">
    <h4 class="ml-4 mb-4">No pending photos...</h4>
  </div>
  <div class="col-sm-2" *ngFor="let photo of photos">
    <div class="card mb-4">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="{{photo.url}}" alt="{{photo.userName}}">
        <ul class="list-inline member-icons animate text-center">
          <li class="list-inline-item"><button class="btn btn-success pl-2 pr-2 pt-1 pb-1" (click)="approvePhoto(photo)"><i
                class="fa fa-check"></i></button></li>
          <li class="list-inline-item"><button class="btn btn-danger pl-2 pr-2 pt-1 pb-1" (click)="rejectPhoto(photo)"><i
                class="fa fa-times"></i></button></li>
        </ul>
      </div>
      <div class="card-body p-1">
        <h6 class="card-title text-center mb-0">
          {{photo.userName}}
        </h6>
      </div>
    </div>
  </div>
</div>
