<div class="row">
  <div *ngIf="!photos?.length">
    <h4 class="ml-4 mb-4">No pending photos...</h4>
  </div>
  <div class="col-sm-2" *ngFor="let photo of photos">
    <h4 class="mb-2">{{photo.userName}}</h4>
    <img src="{{photo.url}}" class="img-thumbnail p-0" alt="photo.userName">

    <div class="text-center">
      <div class="btn-group">
        <button class="btn btn-sm btn-success" (click)="approvePhoto(photo)">Approve</button>
        <button class="btn btn-sm btn-danger" (click)="rejectPhoto(photo)">Reject</button>
      </div>
    </div>
  </div>
</div>
