<div class="container mt-2">
  <div class="text-center mb-4">
    <h4 class="mt-4">Your messages</h4>
    <hr>
  </div>

  <div class="row mb-3">
    <div class="btn-group pl-3">
      <button class="btn btn-danger" [(ngModel)]="messageContainer" btnRadio="Unread" (click)="loadMessages()">
        <i class="fa fa-envelope"></i> Unread
      </button>
      <button class="btn btn-danger" [(ngModel)]="messageContainer" btnRadio="Inbox" (click)="loadMessages()">
        <i class="fa fa-envelope-open"></i> Inbox
      </button>
      <button class="btn btn-danger" [(ngModel)]="messageContainer" btnRadio="Outbox" (click)="loadMessages()">
        <i class="fa fa-paper-plane"></i> Outbox
      </button>
    </div>
  </div>

  <div class="row pl-3" *ngIf="messages.length == 0">
    <h3>No messages</h3>
  </div>

  <div class="row row-content pl-3 pr-3" *ngIf="messages.length > 0">
    <table class="table table-hover" style="cursor: pointer" on-mouseleave="hoveredIndex=null">
      <tr on-mouseover="hoveredIndex=null">
        <th style="width: 62%">Message</th>
        <th style="width: 15%">From / To</th>
        <th style="width: 15%">Sent / Received</th>
        <th style="width: 8%"></th>
      </tr>
      <tr *ngFor="let message of messages; let index=index" on-mouseover="hoveredIndex=index" [routerLink]="['/members', 
          messageContainer == 'Outbox' ? message.recipientId : message.senderId]"
        [queryParams]="{tab: 3}">
        <td class="text-justify pr-4">{{message.content}}</td>
        <td class="pr-4">
          <div>
            <img src="{{(messageContainer == 'Outbox' ? message.recipientPhotoUrl : message.senderPhotoUrl) || '../../assets/user.png'}}" class="img-circle img-no-padding mr-2 mb-0">
            <strong>{{messageContainer == 'Outbox' ? message.recipientKnownAs : message.senderKnownAs}}</strong>
          </div>
        </td>
        <td>{{message.messageSent | timeAgo}}</td>
        <td>
          <button *ngIf="index==hoveredIndex" class="btn btn-danger pl-2 pr-2 pt-1 pb-1" (click)="$event.stopPropagation()" (click)="deleteMessage(message.id)"><i class="fa fa-trash"></i></button>
        </td>
      </tr>
    </table>

  </div>

</div>

<div class="d-flex justify-content-center mb-2 mt-2" *ngIf="pagination.totalItems > pagination.itemsPerPage">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>
