<div class="container pt-4">
  <div class="text-center" *ngIf="!registerMode">
    <h1>Find your match</h1>
    <p class="lead">All you need to do is sign up!</p>
    <div class="text-center">
      <button class="btn btn-success btn-lg mt-2" (click)="registerToggle()">Register</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
